body{
background-size:1500px
}
div{
background-color: white;
margin: 80px 100px 100px 100px;
padding: 30px;                             
border-radius: 4px;                       
box-shadow: 0 10px 30px rgba(0,0,0,.1);  
}
img{
	height:350px;
	border-radius: 75px
}
h2{

}
@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
#{
	lighting-color: white
}